<article class="transform transition duration-500 hover:scale-105">
  {% if content.field_cover | render %}
    {{ content.field_cover }}
  {% else %}
    <div class="rounded-lg w-full h-full bg-gray-500 text-gray-200 font-bold text-xl text-align-center text-center">Cover not yet available</div>
  {% endif %}
  <a href="{{ url }}" class="block">
    <div
      class="opacity-0 hover:opacity-100 bg-gray-300 bg-opacity-50 duration-300 absolute inset-0 z-10 justify-center flex items-center">
      <div class="text-center">
        <h3 class="text-xl">{{ label }}</h3>
        <p>{{ content.field_authors }}</p>
        {% if content.field_serie | render %}
          <p>{{ content.field_serie }} (#{{ content.field_serie_number }})</p>
        {% endif %}
        <p>{{ content.field_release }}</p>
      </div>

    </div>
  </a>
</article>
