<article class="p-4" >
  <div id="book-title"  class="py-4 text-align-center lg:text-left">
    <h1 class="font-bold text-xl text-align-center lg:text-left">{{ label }}</h1>
    <p>by {{ content.field_authors }}</p>
    {% if content.field_serie | render %}
      <p class="text-sm text-gray-600">{{ content.field_serie }} (#{{ content.field_serie_number }})</p>
    {% endif %}
  </div>
  <div id="book-main" class="lg:flex">
    <div class="lg:w-1/3 w-full relative">
    {{ content.field_cover }}
  </div>
    <div class="lg:w2/3 w-full p-4">{{ content.field_excerpt }}</div>
  </div>
  <div id="book-actions" class="py-4">
    <a href='{{ url('books_activity.new', {'isbn': node.field_isbn.value}) }}' class="w-1/3 flex mx-auto items-center justify-center rounded-md bg-purple-500 text-white" type="submit">Start
    Reading</A>
  </div>
  <div id="book-technical" class="py-4">
    <ul class="border-gray-400 border-2 rounded-md p-2">
      <li>{{ content.field_isbn }}</li>
      <li>{{ content.field_pages }}</li>
      <li>{{ content.field_publisher }}</li>
      <li>{{ content.field_release }}</li>
      <li>{{ content.field_genres }}</li>
    </ul>
  </div>
</article>
