<article class="transform transition duration-500 hover:scale-105">
  {% if content.field_cover | render %}
    {{ content.field_cover }}
  {% else %}
    <div class="rounded-lg w-full h-full bg-gray-500 text-gray-200 font-bold text-xl p-4">
      <div class="m-auto text-center align-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 m-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
      </svg>
      {{ label }}
    </div>
  {% endif %}
  <a href="{{ url }}" class="block">
    <div
      class="opacity-0 hover:opacity-100 bg-gray-300 bg-opacity-50 duration-300 absolute inset-0 z-10 justify-center flex items-center">
      <div class="text-center">
        <h3 class="text-xl">{{ label }}</h3>
        <p>{{ content.field_authors }}</p>
        {% if content.field_serie | render %}
          <p>{{ content.field_serie }} (#{{ content.field_serie_number }})</p>
        {% endif %}
        <p>{{ content.field_release }}</p>
      </div>

    </div>
  </a>
</article>
