
{{ header }}
<h1 class="font-bold text-2xl py-2 text-gray-800">
  {% if display_id == 'attachment_1' %}
    {{ "Curently Reading" |t }}
  {% else %}
    {{ "Recent activities" |t }}
  {% endif %}
</h1>
{% if rows -%}
  {{ rows }}
{% elseif empty -%}
  {{ empty }}
{% endif %}


