<div class="mb-8 flex justify-between items-center w-full right-timeline">
  <div class="order-1 w-5/12"></div>
  <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
    <p class="mx-auto font-semibold text-lg text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"/>
      </svg>
    </p>
  </div>
  <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
    <div class="w-1/4">
      {{ content.extra_field_book_cover }}
    </div>
    <div class="m-4">
      <h3 class="mb-3 font-bold text-gray-800 text-xl">{{ label }}</h3>
      <p class="mb-3 text-gray-800">{{ 'Started' |t }} {{ content.field_start_date }}</p>
      {{ content.field_book }}
    </div>
  </div>
</div>


<!-- right timeline
<div class="mb-8 flex justify-between items-center w-full right-timeline">
-->
<!-- left timeline
<div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
-->
