<div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
  <div class="order-1 w-5/12"></div>
  <div class="z-20 flex items-center order-1 bg-red-800 shadow-xl w-8 h-8 rounded-full">
    <p class="mx-auto font-semibold text-lg text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
      </svg>
    </p>
  </div>
  <div class="order-1 border-2 border-red-200 rounded-lg shadow-xl w-5/12 px-6 py-4">
    <h3 class="mb-3 font-bold text-gray-800 text-xl">{{ label }}</h3>
    <p class="mb-3 text-gray-800">{{ 'Started' |t }} {{ content.field_start_date }} - {{ 'Abandonned' | t }} {{ content.field_end_date }}</p>
  </div>
</div>
